/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;
}

#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}

.gameboard {
	
}

.gamerow {

}

.gamecell {
	color: #000;
	border: 1px solid lightgrey;
	height: 3em;
	width: 3em;
}

.gamecell:hover {
	background-color:#0000ff!important;
	color:#000!important;
}

.gamediv {
}

.boardtitle {
	text-align: center;
}

.shiptileup {
	background-color: #f11;
}

.shiptiledown {
	background-color: #333;
}

.shiptilemiss {
	background-color: lightgrey;
}

.shiptilenull {
	background-color: #66f;
}

.shottilehit {
	background-color: #f11!important;
}

.shottilemiss {
	background-color: #222!important;
}

.shottilenull {
	background-color: #33b;
}

.enemy.false {
	background-color: #ddd;
}

.enemy.true {
	background-color: #66f;
}

.login_button {
	background-color: #ddd;
	border: none;
	border-radius: 4px;
	width: 10em;
	margin: 0.5em;
}

.login_button:hover {
	background-color: #f0f0f0;
}

.gamelist {
	border: none;
	width: 79em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:1em;
}

.gamelist_element {
	width: 78em;
	padding-left:2em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	background-color: #f04040;
	border-radius: 5px;
	vertical-align: middle;
	color: white;
}

.gamelist_element:hover {
	background-color: #60f060;
}

.login_fail_div {
	color: darkred;
	size: 2em;
	text-align: center;
}

.game_won_ {
	opacity: 0;
}

.game_won_true,.game_won_false {
	color: darkgreen;
	size: 2em;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

.game_won_false {
	color: darkred;
}
