<!--
	@file about.html
    @brief the AngularJS partial 'about'
-->

<center>

<h1>{{'Login or register' | translate}}</h1>
<div ng-controller="loginController">
<br>
<input name="account_name" ng-model="account_name" required>
<br>
<input type="password" name="account_password" ng-model="account_password" required>
<br><br>
<table class="login_table">
<td>
<tr>
<button class="login_button" ng-click="on_submit_login()"> Login </input>
</tr>
<tr>
<button class="login_button" ng-click="on_submit_register()"> Register </input>
</tr>
</td>
</table>
</div>
</center>
